# Question 1:
Ask user to give two float input for length and breadth of a rectangle and print area type casted to int.

In [1]:
len=0;
width=0;

print("Enter the length: ");
len=input();
print("Enter the width: ");
width=input();

area=float(len)*float(width);

print("The are of the Rectangle is: ",int(area));

Enter the length:
2.2
Enter the width:
2.2
The are of the Rectangle is:  4

# Question 2:
Take name, roll number and GPA from user and print in the below format:

My name is xyz and my roll number is xyz. My GPA is xyz

In [4]:
print("Enter your name: ");
name=input();

print("Enter your rollnum: ");
rollnum=input();

print("Enter GPA: ");
gpa=input();

print("My name is ",name, "and my rollnumber is ",rollnum,". My GPA is ",gpa)

Enter your name:
umamah
Enter your rollnum:
1858
Enter GPA:
3.2
My name is  umamah and my rollnumber is  1858 . My GPA is  3.2

# Question3

Store three integers in x, y and z. Print their sum and product.

In [5]:
print("Enter the first number: ");
x=int(input())
print("Enter the second number: ");
y=int(input())
print("Enter the third number: ");
z=int(input())

sum=x+y+z
print("The sum is: ",sum)

prod=x*y*z;
print("The product is: ",prod)

Enter the first number:
20
Enter the second number:
35
Enter the third number:
2
The sum is:  57
The product is:  1400

#Question4

Suppose passing marks of a subject is 35. Take input of marks from user and check whether it is greater than passing marks or not

In [7]:
print("Enter the marks: ")
marks = int(input())

if marks <= 35:
    print("You have failed")
else:
    print("You have passed")

Enter the marks:
45
You have passed

# Question5

A school has following rules for grading system:

1. Below 45 - F
2. 45 to 49 - D
3. 50 to 59 - C
4. 60 to 79 - B
5. 80 or above - A
Ask user to enter marks and print the corresponding grade.

In [8]:
print("Please enter your marks: ");
marks=int(input())

if(marks<45):
    print("You have an F grade")
if(marks>=45 and marks<=49):
    print("You have a D grade")
if(marks>=50 and marks<=59):
    print("You have a C grade")
if(marks>=60 and marks<=79):
    print("You have a B grade")
if( marks>=80):
    print("You have an A grade")

Please enter your marks:
55
You have a C grade

# Question6

Print all elements of a list using for loop.

In [2]:
arr=[1,2,3.5,"apple","mango"]

for i in arr:
    print(i)

1
2
3.5
apple
mango

# Question7

Take 5 integers from user using for loop and print their sum on the screen.

In [9]:
arr=[0]*5
sum=0;
print("Enter 5 numbers: ")

for i in range(0,5):
    x=int(input())
    sum=sum+x

print("The sum is: ",sum)

Enter 5 numbers:
2
3
1
2
2
The sum is:  10

# Question8

Take 5 integers from user using while loop and print their sum on the screen.

In [10]:
arr=[0]*5
sum=0;
print("Enter 5 numbers: ")
i=0;

while i in range(0,5):
    x=int(input())
    sum=sum+x
    i=i+1

print("The sum is: ",sum)

Enter 5 numbers:
1
1
1
2
2
The sum is:  7

#Question9

Take two integer numbers from the user, print their product only if the product is equal to or lower than 1000, else print their sum.

In [11]:
2print("Enter the first number: ")
num1=int(input())
print("Enter the second number: ")
num2=int(input())

if(num1*num2<=1000):
    print("The product of the two numbers is: ",num1*num2)
else:
    print("The sum of the two numbers is: ",num1+num2)

Enter the first number:
1000
Enter the second number:
2
The sum of the two numbers is:  1002

# Question 10

Create a function that takes a base number (b) and an exponent number (e) and returns the b^e calculation, without using built-in power function. Call the function in the next cell and show some outputs.
For Example:
myPower(2,3) return 8

In [12]:
def power(x,e):

    ans=1;
    ans=int(ans);

    for i in range(e):
        ans=ans*x

    print("The answer is: ",ans);


print("Enter the number:")
x=input();
x=int(x);

print("Enter the exponent:")
e=input();
e=int(e);

power(x,e);

Enter the number:
2
Enter the exponent:
4
The answer is:  16

# Question 11

Write a function “Counter” that receives a character array and calculates Total characters, uppercases, lowercases and spaces then return them all. (In this question, all characters except spaces are counted as letters).

Sample Run:

Input:

Hello, I am a student of FAST University.

Values returned:

No. of letters are: 34

No. of spaces are: 7

No. of uppercase letters are: 7

No. of lowercase letters: 25

In [13]:
def Counter(arr):
    uppercount=0;
    lowercount=0;
    spaces=0;

    for i in arr:
        if(i>='A' and i<='Z'):
            uppercount=uppercount+1;
        if(i>='a' and i<='z'):
            lowercount=lowercount+1;
        if(i==" "):
            spaces=spaces+1;

    print("The Upper Case Characters are: ",uppercount)
    print("The Lower Case Characters are: ",lowercount)
    print("The Space Characters are: ",spaces)



arr ="""My Name is Umamah""";
Counter(arr);

The Upper Case Characters are:  3
The Lower Case Characters are:  11
The Space Characters are:  3

#Question 12

Given two  arrays nums1 and nums2 of size m and n respectively, merge the arrays, sort the final array and then print it in reverse order. You may use built in functions.

In [3]:
def sortandprint(arr1, arr2):
    size1 = len(arr1)
    size2 = len(arr2)
    size3 = size1 + size2
    arr3 = [0] * size3
    index=0;

    for i in range(len(arr1)):
        arr3[index]=arr1[i];
        index=index+1;

    for i in range(len(arr2)):
        arr3[index]=arr2[i];
        index=index+1;

    for i in range(i,len(arr3)):
        for j in range(i+1,len(arr3)):
            if(arr3[i]>arr3[j]):
                temp=arr3[i];
                arr3[i]=arr3[j];
                arr3[j]=temp;


    print("The sorted array is: ",arr3);
    print("The sorted array in reverse is: ");

    i=len(arr3)-1
    while i in arr3:
        print(arr3[i])
        i=i-1

    print(arr3[0])



num1 = [1, 2, 3,6,7]
num2 = [4, 5]
sortandprint(num1, num2)

The sorted array is:  [1, 2, 3, 4, 5, 6, 7]
The sorted array in reverse is:
7
6
5
4
3
2
1

#Submission Instructions

Always read the submission instructions carefully.
Rename your Jupyter notebook to your roll number and download the notebook as .ipynb extension.
To download the required file, go to File->Download .ipynb
Only submit the .ipynb file. DO NOT zip or rar your submission file
Submit this file on Google Classroom under the relevant assignment.
Late submissions will NOT AT ALL be accepted